#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.addInput {
  width: 20em;
  height: 2em;
}

input[type="text"]:focus {
  outline: none;
  border-color: rgb(60, 0, 139);
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);

}


h2 {
  margin: 4px;
}

.listDiv {

  width: 100%;
  display: flex;
  padding: 3px;

}



